@{
    ViewData["Title"] = "Ana Sayfa";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1> <span> HRTECH'E </span> HOŞGELDİNİZ</h1>
        <h2></h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Hakkımızda</a>
        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Verimlilik Artışı</a></h4>
                    <p class="description">HRTech, iş süreçlerini otomatikleştirerek zaman tasarrufu sağlar ve verimliliği artırır. Personel yönetimi, izin takibi, performans değerlendirmeleri gibi işlemler dijital ortamda kolayca yönetilir.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">İnsan Kaynakları Analitiği</a></h4>
                    <p class="description">Sistem, verileri analiz ederek şirket içindeki işgücü verimliliği, personel performansı, eğitim ihtiyaçları gibi konularda değerli bilgiler sunar. Bu analizler sayesinde stratejik kararlar alınabilir.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">İletişim ve İşbirliği Artışı</a></h4>
                    <p class="description"> HRTech, çalışanlar arasındaki iletişimi ve işbirliğini güçlendirir. Çalışanlar, raporlama, projelerde işbirliği, eğitim materyallerine erişim gibi konularda sistem üzerinden etkileşimde bulunabilir.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Kurumsal Güvenlik ve Uyumluluk</a></h4>
                    <p class="description">HRTech, hassas personel verilerini güvenli bir şekilde saklar ve uyumluluk standartlarına uygunluk sağlar. Verilerin doğru kullanımı ve güvenliği için gerekli önlemleri alır, böylece kurumsal riskler azaltılır.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Featured Services Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hakkımızda</h2>
            <h3> <span></span></h3>

        </div>
        <div class="row">

            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Biz Kimiz?</h3>
                <p style="font-size: 18px" class="fst-italic">

                    Biz HRTECH, insan kaynakları alanında faaliyet gösteren bir kuruluşuz. Amacımız, iş dünyasının dinamiklerine uyum sağlayabilen, yetenekli ve motive bir çalışan grubu oluşturarak şirketimizin başarısını artırmaktır.

                    Misyonumuz, çalışanlarımıza sağladığımız destek ve fırsatlarla birlikte, şirketimizin hedeflerine ulaşmasını sağlamak ve onları işlerine karşı tutkulu olmaları konusunda teşvik etmektir. İnsan kaynakları alanında yenilikçi yaklaşımlarımız ve sürekli gelişim odaklı politikalarımız ile çalışanlarımızın kariyerlerini ve kişisel gelişimlerini desteklemeyi hedefliyoruz.

                    Vizyonumuz, sadece bugünü değil, geleceği de düşünerek çalışanlarımıza değer katmak ve onların potansiyellerini maksimum düzeyde kullanmalarını sağlamaktır. Şeffaf bir iletişim ve adil bir çalışma ortamı oluşturarak, herkesin katkıda bulunabileceği bir kültür oluşturuyoruz.

                    HRTECH olarak, insan kaynaklarına verdiğimiz önemi her zaman en üst seviyede tutuyor ve çalışanlarımızın mutluluğunu ve başarısını öncelikli olarak ele alıyoruz.

                </p>
            </div>
        </div>
    </div>

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>İLETİŞİM</h2>
                <h3><span>Bizimle İletişime Geçin </span></h3>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Adresimiz</h3>
                        <p>Kadıköy, İstanbul</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email</h3>
                        <p>hrtech@gmail.com</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Bize Ulaşın</h3>
                        <p>+90 555 55 55</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="~/forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Adın" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email Adresin" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Mesaj" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Gönderiliyor</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Mesajın gönderildi. Teşekkürler!</div>
                        </div>
                        <div class="text-center"><button type="submit">GÖNDER</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
