@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim Engellendi";
}

<br />
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <br/>
    <p class="text-danger">Üzgünüz, bu sayfaya erişim yetkiniz olmadığı için sayfa görüntülenemiyor.</p>
    <p class ="text-danger">Lütfen geçerli giriş bilgilerinizi kontrol edip tekrar deneyin.</p>
</header>
